// src/components/Login.scss
.login-container {
  background-image: url(../../images/loginbg.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid #ccc;
  padding: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  //background-color: #f5f7f3;
  background-color: #154d17;
  //background: transparent;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 20rem;
  height: 19rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  border-radius: 15px;
}

button {
  //background-color: #154d17;
  color: #fff;
  //padding: 10px;
  //border-radius: 20px solid blue;
  cursor: pointer;
  //width: 15rem;
}

button:hover {
  background-color: #45a049;
}

// src/components/Signup.scss
.signup-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
