// src/components/Login.scss
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 14rem;

  //position: relative;
  border-radius: 5px;
  margin-right: 16rem;
  //border: none;
  box-shadow: #f8fbf8;
  .login-form {
    background-image: url(../../images/loginpic.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    background-size: cover;
    background-position: center;
    width: 40rem;
    height: 25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border-top-left-radius: 2rem;
    border-radius: 2rem;
    //border: 2px solid rgb(28, 61, 94);
    h2 {
      color: #f8faf8;
      font-weight: 700;
      font-size: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logininput {
      margin-right: 1.6rem;
      color: #171817;
    }
    .loginla {
      color: #c3c8c3;
      font-size: 23px;
      font-weight: 500;
      margin-right: 9rem;
    }
    .loginla1 {
      color: #ced3ce;
      font-size: 23px;
      font-weight: 500;
      margin-right: 12rem;
    }

    .buttonsec {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      margin-right: 4rem;
      background-color: #1fbc24;
      border: 2px solid green;
      height: 2rem;
      border-radius: 20px;
      cursor: pointer;
      width: 14rem;
    }
    .spantext {
      margin-top: 1rem;
      margin-right: 2rem;
      color: #f8fbf8;
    }
    .buttonlink {
      margin-top: 1rem;
      color: #f8fbf8;
    }
  }

  .buttonsec:hover {
    background-color: #45a049;
  }
}
