.cartsec {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 9px 9px 9px rgba(0, 0, 0, 0.1);
  border: 25px solid white;
  height: auto;
  max-width: 1000px;
  margin: 20px auto;

  .cartheading {
    display: flex;
    justify-content: center;
    align-items: center;
    //gap: 10rem;

    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;

    font-weight: 500;
    color: #1e201e;
    background-color: #084c08;
    border-radius: 5px;

    .heading {
      display: flex;
      flex-direction: row;

      gap: 20rem;
      font-size: 20px;
    }
  }

  .cartitems {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    .cartcontent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 10rem;
      margin-right: 4rem;
      gap: 1rem;

      img {
        max-width: 200px;
        max-height: 200px;
      }
      .productdetails {
        margin-top: 3rem;
        font-size: 20px;
        font-weight: 600;
        .price {
          margin-left: 4rem;
        }
      }

      span {
        font-size: 25px;
        font-weight: 500;
        color: #1e201e;
      }

      .quantity-controls {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 2.5rem;

        .quantity-btn {
          font-size: 16px;
          font-weight: bold;
          cursor: pointer;
          padding: 8px;
          background-color: #0e4f0e;
          color: #fff;
          border: none;
          border-radius: 4px;
        }

        .quantity {
          font-size: 18px;
          font-weight: bold;
          color: #1e201e;
          margin-left: 0.3rem;
          margin-right: 0.3rem;
          text-align: center;
        }
      }

      .total-price {
        font-size: 20px;
        font-weight: 400;
        margin-right: 4rem;
        margin-left: 4rem;
      }

      button {
        cursor: pointer;
        background-color: #0e4f0e;
        color: #fff;
        border: none;
        padding: 8px 15px;
        border-radius: 4px;
        margin-top: 5px;
      }
      .cartremovebtn {
        width: 10rem;
      }
    }
  }

  .carttotal {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
