.signup-container {
  background-image: url(../../../images/signup.jpg);
  border: 7px solid white;
  position: relative;
  margin-left: 20rem;
  margin-right: 20rem;
  height: 30rem;
  padding: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2,
span {
  display: flex;
  color: #000000;
  margin-left: 1.2rem;
}
form {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 16.5rem;
  box-shadow: 0 10px 10px 10px rgba(91, 47, 47, 0.1);
  //border: 5px solid white;
  background-color: #fff;
  border-radius: 20px;
  background: transparent;
  //max-width: 300px;

  width: 20rem;
  //margin: 0 auto;
  label {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 2rem;
    color: #fff;
  }

  input {
    width: 15rem;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 2rem;
    border: none;
    border-radius: 7px;
  }
  //onclick
  button {
    background-color: #1fbc24;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 10rem;
    margin-left: 4.5rem;
    border-radius: 20px;
  }

  button:hover {
    background-color: #45a049;
  }
}
